<div style="margin-left: 200px">
  <table>
    <th style="padding-right: 700px">
      <h2>Users List({{ 5 }})</h2>
    </th>
    <th>
      <button>
        <a routerLink="/users/createuser" style="text-decoration-line: none">
          Create Users
        </a>
      </button>
    </th>
  </table>
  <table border="1">
    <tr>
      <th class="myth">ID</th>
      <th class="myth">Name</th>
      <th class="myth">Email</th>
      <th class="myth">Gender</th>
      <th class="myth">Action</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Ankit</td>
      <td>someone@gmail.com</td>
      <td>male</td>
      <td>
        <a routerLink="/users/edituser" style="text-decoration-line: none"
          >Edit</a
        >
        <br />
        <a>Delete</a>
      </td>
    </tr>
    <tr>
      <td>1</td>
      <td>Ankit</td>
      <td>someone@gmail.com</td>
      <td>male</td>
      <td>
        <a routerLink="/users/edituser" style="text-decoration-line: none"
          >Edit</a
        >
        <br />
        <a>Delete</a>
      </td>
    </tr>
    <tr>
      <td>1</td>
      <td>Ankit</td>
      <td>someone@gmail.com</td>
      <td>male</td>
      <td>
        <a routerLink="/users/edituser" style="text-decoration-line: none"
          >Edit</a
        >
        <br />
        <a>Delete</a>
      </td>
    </tr>
    <tr>
      <td>1</td>
      <td>Ankit</td>
      <td>someone@gmail.com</td>
      <td>male</td>
      <td>
        <a routerLink="/users/edituser" style="text-decoration-line: none"
          >Edit</a
        >
        <br />
        <a>Delete</a>
      </td>
    </tr>
    <tr>
      <td>1</td>
      <td>Ankit</td>
      <td>someone@gmail.com</td>
      <td>male</td>
      <td>
        <a routerLink="/users/edituser" style="text-decoration-line: none"
          >Edit</a
        >
        <br />
        <a>Delete</a>
      </td>
    </tr>
  </table>
</div>
