/* You can add global styles to this file, and also import other style files */
/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  color: whitesmoke;
  display: inline-block;
  background-color: rgb(66, 107, 161);
  border-radius: 4px;
}
 /* nav a:visited,
a:link {
  color: whitesmoke;
}
nav a:hover {
  color: white;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}  */

* {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  color: whitesmoke;
  display: inline-block;
  background-color: rgb(66, 107, 161);
  border-radius: 4px;
}
button a:visited {
  color: white;
}

.myth {
  color: whitesmoke;
  padding-left: 75px;
  padding-right: 75px;
  background-color: rgb(66, 107, 161);
}
td {
  text-align: center;
  border: 1px solid #dddddd;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
tr:nth-child(odd) {
  background-color: rgb(179, 179, 185);
}
